.mblazonry-timer:not(.nx-pagebuilder-component-body) {
   overflow: hidden;
   /*margin-left: 5em;*/
   margin-top: -6px;
   /*margin-right: 5em;*/
   margin-bottom: -6px;
   text-align: right;
   min-width: 316px;
}

/*********** timer-button ***********/
:not(.nx-pagebuilder-component-body) >.mblazonry-timer-button {
   opacity: 0.5;
   margin: 0px;
   border-color: #45A840;
   background: inherit;
   padding: 2px;
   border-radius: 3px;
   min-width: 78px;
}

.mblazonry-timer:not(.recording):not(.pending) .mblazonry-timer-button:hover {
   background: rgba(0, 151, 191, 0.9);
}

.mblazonry-timer.recording:not(.pending) .mblazonry-timer-button:hover {
   animation: none;
   color: white;
   background: red;
}

.mblazonry-timer.pending:not(.recording) .mblazonry-timer-button:hover {
   animation: none;
   color: black;
   background: yellow;
}

.mblazonry-timer-button .ui-icon {
   font-size: 22px;
   left: 0em;
}

.mblazonry-timer:not(.recording) .mblazonry-timer-button .ui-icon  {
   color: #32CD32;
}

.mblazonry-timer.recording:not(.pending) .mblazonry-timer-button {
   animation: recPulse 2.7s infinite;
   -webkit-animation: recPulse 2.7s infinite;
}
@keyframes recPulse {
  0%   { color: red;  background: inherit } /*red = ff0000*/
  50%  { color: white; background: red  }
  100% { color: red;  background: inherit }
}
@-webkit-keyframes recPulse {
  0%   { color: red;  background: inherit } /*red = ff0000*/
  50%  { color: white; background: red  }
  100% { color: red;  background: inherit }
}

.mblazonry-timer-button:hover {
   background: rgba(0, 151, 191, 0.9);
}


.mblazonry-timer.pending .mblazonry-timer-button  {
   animation: penPulse 2.7s infinite;
   -webkit-animation: penPulse 2.7s infinite;
}
@keyframes penPulse {
  0%   { color: yellow;  background: inherit }
  50%  { color: black; background: yellow  }
  100% { color: yellow;  background: inherit }
}
@-webkit-keyframes penPulse {
  0%   { color: yellow;  background: inherit }
  50%  { color: black; background: yellow  }
  100% { color: yellow;  background: inherit }
}


/********* mblazonry-timer-button text **********/

.mblazonry-timer-button .ui-button-text {
   padding: .4em 1em .4em 2.1em;
}

/*********** timer-counter ***********/
.mblazonry-timer:not(.recording) .mblazonry-timer-counter  {
   display: none;
}

.mblazonry-timer.recording .mblazonry-timer-counter  {
   display: inline;
}

.mblazonry-timer .mblazonry-timer-counter {
   margin-top: -6px;
   margin-right: 1em;
   margin-bottom: -5px;
}

/********** in page builder **********/
.nx-pagebuilder-component-body .mblazonry-timer {
   overflow: hidden;
   padding: 5px;
}

.nx-pagebuilder-component-body.mblazonry-timer > .mblazonry-timer-button {
   opacity: 0.35;
   margin: 0px;
}

.nx-pagebuilder-component-body.mblazonry-timer > .nx-pagebuilder-acceptor { /*FIXME*/
   margin: 0px;
   float: right;
   border: 0px solid white;
   min-height: 20px;
}

.mblazonry-timer > .nx-pagebuilder-acceptor .ui-button {
   margin: 0px;
}
