.mblazonry-template
{
   min-width: 50px;
   display: inline-block;
}

.mblazonry-template.clickable
{
   cursor: pointer;
}

.mblazonry-template.allowHTML
{
   text-align: center;
}

.mblazonry-template.allowHTML > div > img
{
   vertical-align: text-bottom;
}

.mblazonry-template.hidden
{
   display: none;
}
